!!!
%html
  %head
    %title= h yield(:title)
    = formtastic_stylesheet_link_tag

  %body
    %p= link_to('MyChores', root_path)

    - if signed_in?
      %p
        Signed in as
        = link_to(current_person.display_name, edit_user_path)

      = link_to('Sign out', sign_out_path, {:id => 'sign-out-link'})
    - else
      = link_to('Sign in', sign_in_path, {:id => 'sign-in-link'})
      or
      = link_to('Sign up', sign_up_path, {:id => 'sign-up-link'})

    - if flash[:notice]
      .flash.notice= flash[:notice]
    - if flash[:error]
      .flash.error= flash[:error]

    %h2= h yield(:title)

    = yield
